{minimum_otp_vsn, "23"}.
{erl_opts, [debug_info]}.

{deps, [
    {nthrottle, {git, "git@github.com:nomasystems/nthrottle.git", {tag, "1.0.0"}}},
    {nhooks, {git, "git@github.com:nomasystems/nhooks.git", {tag, "1.0.0"}}}
]}.

{plugins, [
    {erlfmt, {git, "git@github.com:nomasystems/erlfmt.git", {tag, "v1.0.0"}}}
]}.
{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {tag, "1.0.0"}}},
            {triq, {git, "git@github.com:nomasystems/triq.git", {branch, "master"}}}
        ]}
    ]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"},
        {cover, "-m 90"}
    ]},
    {ci_test, [
        {ct, "--spec test/conf/ci_test.spec --cover --readable true"},
        {cover, "-m 90"}
    ]}
]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [
    nqueue,
    {nqueue_consumer, start_link, 2},
    nqueue_manager
]}.
