{minimum_otp_vsn, "23"}.
{erl_opts, [debug_info]}.

{deps, [
    {nthrottle, {git, "https://github.com/nomasystems/nthrottle.git", {branch, "main"}}},
    {nhooks, {git, "https://github.com/nomasystems/nhooks.git", {tag, "main"}}}
]}.

{plugins, [
    erlfmt
]}.
{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {nct_util, {git, "https://github.com/nomasystems/nct_util.git", {branch, "main"}}},
            {triq, {git, "https://github.com/nomasystems/triq.git", {branch, "master"}}}
        ]}
    ]},
    {bench, [
        {extra_src_dirs, [{"bench", [{recursive, false}]}]},
        {deps, [
            {npqueue, {git, "https://github.com/nomasystems/npqueue.git", {branch, "main"}}}
        ]},
        {shell, [
            {apps, [
                nqueue,
                npqueue
            ]}
        ]}
    ]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"},
        {cover, "-m 100"}
    ]},
    {ci_test, [
        {ct, "--spec test/conf/ci_test.spec --cover --readable true"},
        {cover, "-m 100"}
    ]}
]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [
    nqueue,
    {nqueue_consumer, start_link, 2},
    nqueue_manager
]}.
